<label > Birthdate </label>
<input type="date" [(ngModel)]='birthdate' class="form-control">

<label > Rôle </label>
<input type="text" [(ngModel)]='role' class="form-control">

<div class="card-footer">
  <button type="button" (click)="filter()" class="btn btn-primary">Filter</button>
</div>

<div class="card-footer">
  <button type="button" (click)="reset()" class="btn btn-primary">Reset</button>
</div>


<div class="col-md-6">
           
    <table class="table table-bordered">
      <thead>
        <tr>
        <th>#</th>
          <th>Name</th>
          <th>Latname</th>
          <th >Email</th>
          <th >Rôle</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.phone}}
          </td>


          <td>
            {{user.birthdate}}
          </td>

          <td>
            {{user.role}}
          </td>

        </tr>
        
      </tbody>
    </table>
    </div>



        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-6">
              <label for="exampleFormControlInput1" class="form-label">FirstName</label>
              <input type="text" class="form-control" formControlName="firstName" required>
            </div>

            <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">LastName</label>
            <input type="text" class="form-control" formControlName="lastName" required>

          </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" required>

            </div>
            <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" required>

          </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <label for="exampleFormControlInput1" class="form-label">birthdate</label>
              <input type="date" class="form-control" formControlName="birthdate" required>

            </div>
            <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">phone</label>
            <input type="text" class="form-control" formControlName="phone" required>

          </div>
          </div>
    
          <div class="row">
              <div class="col-md-12">
                 <label for="exampleFormControlInput1" class="form-label">Role</label>
                <select class="form-control" formControlName="role" required>
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>

              </div>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='save()'>Save</button>
      </div>
    </div>
  </div>
</div>